<!DOCTYPE html>
<html>
    <head>
        <title>Binary Brew - Checkout</title>
        <meta name="author" content="Wesley">
        <link rel="stylesheet" href="static/checkout.css">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body class="main-layout">
        <div id="content">
        
            <header>
                <form action="/handleProfile" method="post">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="full">
                                    <a class="logo" href="../../index.html"><img src="../static/images/logo.jpeg" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="full">
                                    <div class="right_header_info">
                                        <ul>
                                            <li class="headername" style="font-size: 30px;">Checkout</li>
            
                                            <li class="dinone"><img style="margin-right: 15px; height: 28px; position: relative; top: -3px;" src="../static/images/hotTeaCircle.png" alt="#"><a href="allTeas.html">Our Teas</a></li>                                      
                                          
                                        </ul>
            
            
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
            </header>
        </div>
    </body>
    <body class="check">
        <div class="container">
            <div class="column items">
                <h2>Items in cart</h2><hr>
                <div class="drinks">
                    <div class="imgs">
                        <img src="static/images/arnoldPalmer3.jpeg">
                    </div>
                    <div class="imgs">
                        <img src="static/images/blackberryTea.png">
                    </div>
                    <br>
                    <div class="imgs">
                        <img src="static/images/greenTea.png">
                    </div>
                    <div class="imgs">
                        <img src="static/images/raspberryTea.png">
                    </div>
                </div>
                <div class="button">
                    <hr>
                    <a href="cart.html">Return to cart</a>
                </div>
            </div>
            <div class="column payment">
                <h2>Payment</h2><hr>
                <div class="pay">

                    <form>
                        <div class="method">
                            <label for="fname">First name:</label><br>
                            <input type="text" id="fname" name="fname" required><br>
                        </div>
                        <div class="method">
                            <label for="lname">Last name:</label><br>
                            <input type="text" id="lname" name="lname" required><br>
                        </div>
                        <div class="method">
                            <label for="email">Email:</label><br>
                            <input type="email" id="email" name="email" required><br>
                        </div>
                    </form>
                    <hr>
                    <form>
                        <div class="method credit">
                            <label for="ccn">Credit Card Number:</label>
                            <input type="tel" id="ccn" name="ccn" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" style="width: 155px" required><br>
                            <label for="cvc">CVC:</label>
                            <input type="tel" id="cvc" name="cvc" inputmode="numeric" pattern="[0-9]" maxlength="3" placeholder="- - -" style="width: 31px" required>
                        </div>
                        <div class="method credit">
                            <label for="date">Experaton date</label>
                            <input type="text" id="date" name="date" inputmode="numeric" maxlength="4" placeholder="MM/YY" style="width: 55px" required>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column total">
                <div class="totals">
                    <p class="text">Subtotal:</p>
                    <p class="cost">29.69$</p><br>
                    <p class="text">Tax:</p>
                    <p class="cost">1.78$</p>
                    <hr>
                    <p class="text">Total:</p>
                    <p class="cost">31.47$</p>
                    <hr>
                </div>
                <div class="button">
                    <a href="checkedout.html">Check Out</a>
                </div>
            </div>
        </div>
    </body>
</html>