<!DOCTYPE html>
<html>
    <head>
        <title>Binary Brew - Checkout</title>
        <meta name="author" content="Wesley">
        <link rel="stylesheet" href="../static/checkout.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="main-layout">
        <div id="content">
        
            <header>
                <form action="/handleProfile" method="post">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="full">
                                    <a class="logo" href="/"><img src="../static/images/logo.jpeg" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="full">
                                    <li class="headername" style="font-size: 30px;">Checkout</li>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="full">
                                    <div class="right_header_info">
                                        <ul>
                                            
            
                                            <li class="dinone"><img style="margin-right: 15px; height: 28px; position: relative; top: -3px;" src="../static/images/hotTeaCircle.png" alt="#"><a href="/allTeas">Our Teas</a></li>                                      
                                          
                                        </ul>
            
            
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
            </header>
        </div>
    </body>
    <body class="check">
        <div class="container">
            <div class="column items">
                <h2>Items in cart</h2><hr>
                <div class="drinks">
                    {% if items %}
                        {% for item in items%}
                    <div class="imgs">
                        <img src="data:image/jpeg;base64,{{ item.displayImage }}" >
                    </div>
                        {% endfor %}
                    {% else %}
                    <div class="imgs">
                        <img src="../static/images/arnoldPalmer3.jpeg">
                    </div>
                    <div class="imgs">
                        <img src="../static/images/blackberryTea.png">
                    </div>
                    <br>
                    <div class="imgs">
                        <img src="../static/images/greenTea.png">
                    </div>
                    <div class="imgs">
                        <img src="../static/images/raspberryTea.png">
                    </div>
                    {% endif %}
                </div>
                <div class="button">
                    <hr>
                    <a href="/cart">Return to cart</a>
                </div>
            </div>
            <div class="column payment">
                <h2>Payment</h2><hr>
                <div class="pay">

                    <form>
                        {% if user.card %}
                        <div class="method">
                            <label for="nameHolder">Name Holder:</label><br>
                            <input type="text" id="nameHolder" name="nameHolder" placeholder="{{ user.card[0].name }}" required><br>
                        </div>
                        <div class="method">
                            <label for="email">Email:</label><br>
                            <input type="email" id="email" name="email" placeholder="{{ user.email }}"  required><br>
                        </div>
                        {% else %}
                        <div class="method">
                            <label for="nameHolder">Name Holder:</label><br>
                            <input type="text" id="nameHolder" name="nameHolder" placeholder="Name Holder" required><br>
                        </div>
                        <div class="method">
                            <label for="email">Email:</label><br>
                            <input type="email" id="email" name="email" required><br>
                        </div>
                        {% endif %}
                    </form>
                    
                    <form>
                        {% if user.cards %}
                        <div class="method credit">
                            
                            <label for="ccn">Credit Card Number:</label>
                            <input type="tel" id="ccn" name="ccn" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="{{ user.cards[0].number }}" style="width: 155px" required><br>
                            <label for="cvc">CVC:</label>
                            <input type="tel" id="cvc" name="cvc" inputmode="numeric" pattern="[0-9]" maxlength="3" placeholder="{{ user.cards[0].cvv }}" style="width: 31px" required>
                        <div class="method credit">
                            <label for="date">Experaton date</label>
                            <input type="text" id="date" name="date" inputmode="numeric" maxlength="4" placeholder="{{ user.cards[0].expiry }}" style="width: 55px" required>
                        </div>
                    </div>
                            {% else %}
                            <div class="method credit">
                            <label for="ccn">Credit Card Number:</label>
                            <input type="tel" id="ccn" name="ccn" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" style="width: 155px" required><br>
                            <label for="cvc">CVC:</label>
                            <input type="tel" id="cvc" name="cvc" inputmode="numeric" pattern="[0-9]" maxlength="3" placeholder="- - -" style="width: 31px" required>
                            
                        </div>
                        <div class="method credit">
                            <label for="date">Experaton date</label>
                            <input type="text" id="date" name="date" inputmode="numeric" maxlength="4" placeholder="MM/YY" style="width: 55px" required>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="column total">
                <div class="totals">
                    <h3  id="itemCount" class="cost">{{ itemCount }}</h3>
                    <p  class="text">Tax:</p>
                    {% if tax: %}
                    <p id="displayTax">${{ tax }}</p>
                    {% else %}
                    <p id="displayTax">$0.00</p>
                    {% endif %}
                    <hr>
                    <p class="text">Total:</p>
                    {% if subTotal %}
                    <p id="displaySubtotal" class="cost">${{ subTotal }}</p><br>
                    {% else %}
                    <p id="displaySubtotal" class="cost">$00.00</p><br>
                    {% endif %}
                    
                    <hr>
                </div>
                <div class="button">
                    <a href="/checkedout">Check Out</a>
                </div>
            </div>
        </div>
    </body>
</html>
