<!DOCTYPE html>
<head>
<html lang="en">
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Login</title>

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/profile.css">
    <script src="../static/script.js"></script>
    <script>alert('For Admin Options please Login or Register with the email "Admin@123email.com"');</script>
</head>

<div class="container">

<body> 
    <!-- header -->
    <header style="margin-bottom: 40px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="/"><img src="../static/images/logo.jpeg" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li class="dinone"><img style="margin-right: 15px; height: 28px; position: relative; top: -3px;" src="../static/images/hotTeaCircle.png" alt="#"><a href="/allTeas">Our Teas</a></li>
                           
                              <li   class="button_user">
                                    <a class="button active" href="/login">Login</a>
                                    <a class="button" href="/register">Register</a>
                                  </li>
                                  
                                    
                                
                                <li>
                                    <button type="button" id="sidebarCollapse">
                                        
                                    </button>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Login Elements-->
  
    <div style='height:430px; margin-top:90px;' class="split left">
        <form action="/handleLogin" method="POST">
        <div class="centered">
            <h1 style="text-align: center; color: #fdf1dd;;"> Manager Login </h1>
            <div class="row">
            <label class ="label" for="uname"><b>Username</b></label>
            <input id="email" class="input" type="text" placeholder="Enter Username" name="uname" required>
        </div>
        <div class="row">
            <label class="label" for="psw"><b>Password</b></label>
            <input   id="password" class="input" type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <button name="action" value="submit" class="btn draw-border">Login
         </button>
         <a class='button_user' style='color: rgb(0, 157, 255); font-style: italic;' href="/recover">Forgot Password</a>
         <label>
            <input style="padding:25px;" type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        </div>
        </form>
        </div>
    </div>
    
</body>
<footer class="footer" style="width: 100%;">
        <div class="container-fluid">
            <div class="row">


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="img-box">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_logo">
                      <a href="/"><img src="../static/images/logo2.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="lik">
                        <li class="active"> <a href="/">Home</a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="new">
                        <h3>Newsletter</h3>
                        <form class="newtetter">
                            <input class="tetter" placeholder="Your email" type="text" name="Your email">
                            <button class="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div style='width: 100%'class="copyright">
                    <p>© 2025 All Rights Reserved Binary Brew</p>
                
            </div>
        </div>
     
</footer>

</html>
