<!DOCTYPE html>
<head>
<html lang="en">
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Login</title>

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/profile.css">
</head>

<div class="container">

<body> 
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="../../index.html"><img src="../static/images/logo.jpeg" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li class="dinone"><img style="margin-right: 15px; height: 28px; position: relative; top: -3px;" src="../static/images/hotTeaCircle.png" alt="#"><a href="allTeas.html">Our Teas</a></li>
                           
                                <li class="button_user"><a class="button active" href="login.html">Login</a><a class="button" href="register.html">Register</a></li>
                           
                                <li>
                                    <button type="button" id="sidebarCollapse">
                                        
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Selection Menu-->
    <div class="split left">
        <div class="centered">
            <div class="button">
                <ul>
                    <li><a href="Orders.html">Orders</a></li>
                    <li><a href="Inventory.html">Inventory</a></li>
                </ul>

            </div>


        </div>
        </div>

    </div>


    
</body>
<style>
.reg-footer,h3{
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #d8b00f;
    padding-top:90px;
    margin-top: 90px;
    text-align: center;
}
</style>
</html>
